<html>

<head>

    <title>
        Simple Search Engine: About
    </title>

    <link rel="stylesheet" href="../static/css/styles.css">

</head>

<body>
    <!--Title-->
    <div class="title-bar">
        <h1 align="center">Simple Search Engine</h1>
    </div>
    
    <!--Navbar-->
    <div class="navigation-bar">
        <a href=""><button>About</button></a>
        <a href="/upload/"><button>Upload</button></a>
        <a href="/"><button>Search</button></a>
        <a href="terms/"><button>Terms</button></a>
    </div>

    <!--Searchbox-->
    <div class="search-box">
        <h2 style="margin-top: 30px">Hello, there!</h2>
        <p>This is a simple search engine made using Python, Flask, and HTML/CSS.<br>
           Click on 'Search' and type into the search bar to start!</p>
    </div>

    <!--Content-->
    <div class="content-wrapper" style="text-align: center">
        <div class="profile">
            <img class="profile-pics" src="../static/placeholder.jpg" />
            <h2>Rais Vaza<br>Man Tazakka</h2>
            <h3>13519060</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="profile">
            <img class="profile-pics" src="../static/placeholder.jpg" />
            <h2><br>Karina Imani</h2>
            <h3>13519166</h3>
            <p>( ͡° ͜ʖ ͡°)<br>( ͡° ͜ʖ ͡°)</p>
        </div>
        <div class="profile">
            <img class="profile-pics" src="../static/placeholder.jpg" />
            <h2>Siti Iedrania<br>Azzariyat Akbar</h2>
            <h3>13519137</h3>
            <p>STRAY KIDS EVERYWHERE ALL AROUND THE WORLD</p>
        </div>
    </div>

</body>

</html>