<html>

<head>

    <title>
        Simple Search Engine: Search
    </title>

    <link rel="stylesheet" href="../static/css/styles.css"> 

</head>

<body>
    <!--Title-->
    <div class="title-bar">
        <h1 align="center">Simple Search Engine</h1>
    </div>
    
    <!--Navbar-->
    <div class="navigation-bar">
        <a href="about/"><button>About</button></a>
        <a href="upload/"><button>Upload</button></a>
        <a href=""><button>Search</button></a>
    </div>

    <!--Searchbox-->
    <div class="search-box">
        <input type="text" placeholder="Type something...">
    </div>

    <!--Content-->
    <div class="content-wrapper">
        <div class="result-object">
            <h2>Title of Number 1 Sim</h2>
            <h3>9999 words | Similarity: 100%</h3>
            <p>Lorem ipsum dolor sit amet adispicing elit...</p>
        </div>
        <div class="result-object">
            <h2>Title of Number 2 Sim</h2>
            <h3>9999 words | Similarity: 100%</h3>
            <p>Lorem ipsum dolor sit amet adispicing elit...</p>
        </div>
        <div class="result-object">
            <h2>Title of Number 3 Sim</h2>
            <h3>9999 words | Similarity: 100%</h3>
            <p>Lorem ipsum dolor sit amet adispicing elit...</p>
        </div>
        <div class="result-object">
            <h2>Title of Number 4 Sim</h2>
            <h3>9999 words | Similarity: 100%</h3>
            <p>Lorem ipsum dolor sit amet adispicing elit...</p>
        </div>
        <div class="result-object">
            <h2>Title of Number 5 Sim</h2>
            <h3>9999 words | Similarity: 100%</h3>
            <p>Lorem ipsum dolor sit amet adispicing elit...</p>
        </div>
    </div>

</body>

</html>