<html>

<head>

    <title>
        Simple Search Engine: Terms
    </title>

    <link rel="stylesheet" href="../static/css/styles.css"> 

</head>

<body>
    <!--Title-->
    <div class="title-bar">
        <h1 align="center">Simple Search Engine</h1>
    </div>
    
    <!--Navbar-->
    <div class="navigation-bar">
        <a href="/about/"><button>About</button></a>
        <a href="/upload/"><button>Upload</button></a>
        <a href="/"><button>Search</button></a>
        <a href=""><button>Terms</button></a>
    </div>

    <!--Searchbox-->
    <div class="search-box">
        <h2 style="margin-top: 30px">All Terms</h2>
        <p>Displaying terms from all documents in the database. Scroll to navigate.</p>
    </div>

    <!--Content-->
    <div class="content-wrapper">

        <!--Results-->
        <!--N/A-->

        <!--Table-->
        <div class="table-wrapper">
            <table>
                <tr>
                    <td>Terms</td>
                    {% for row in judul %}
                    <td>
                        <div class="tooltip" title="{{ row[1] }}">{{ row[0] }}</div>
                    </td>
                    {% endfor %}
                </tr>
                {% for row in terms %}
                    <tr>
                    {% for elem in row %}
                        <td> {{ elem }} </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</body>

</html>